.quote {
  padding: 108px 16px;
  display: flex;
  position: relative;

  @media screen and (min-width: 550px) {
    max-width: 800px;
    margin: auto;
  }

  .brand-icon {
    position: absolute;
    top: 60px;
    left: 16px;
  }

  &__quote-text {
    color: #004f71;
    font-family: "Apercu Pro", "Lato", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    text-align: center;
    margin: 0 0 24px;

    &--primaryRed {
      color: #dd0031;
    }

    &--secondaryTeal {
      color: #3EB1C8;
    }
  }

  &__owner {
    color: #5B6770;
    font-family: "Apercu Pro", "Lato", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    margin: 0;
  }
}
