.heading-and-text {
  margin: auto;
  padding: 30px 16px;

  @media screen and (min-width: 550px) {
    max-width: 800px;
  }

  &--tan {
    background-color: rgba(245, 227, 204, 0.4);
  }

  &__heading {
    color: #DD0031;
    font-family: "Apercu Pro", "Lato", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    margin: 0 0 16px
  }

  &__text {
    color: #37424A;
    font-family: "Apercu Pro", "Lato", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
  }
}