.system-icon {
    &--primaryRed {
        path {
            fill: #dd0031;
        }
    }

    &--secondaryBlue {
        path {
            fill: #004F71;
        }
    }

    &--primaryWhite {
        path {
            fill: #FFFFFF;
        }
    }
}