.basic-card {
  background: #ffffff;
  border-radius: 4px;
  border: 1px solid #CCCFD0;
  box-shadow: 0px 2px 4px rgba(91, 103, 112, 0.24);
  max-width: 100%;
  width: calc(100% - 40px);
  margin: 0 20px;

  @media screen and (min-width: 550px) {
    margin: 0 auto;
    max-width: 832px;
  }

  img {
    max-width: 100%;
    max-height: 144px;
    object-fit: cover;
    width: 100%;

    @media screen and (min-width: 400px) {
      max-height: 234px;
    }

    @media screen and (min-width: 550px) {
      max-height: 400px;
    }
  }

  &__content {
    padding: 8px 16px 16px;
    color: #5b6770;
    font-family: 'Apercu Pro', 'Lato', sans-serif;
    font-style: normal;

    &-title {
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
      margin: 0;

      &--primaryRed {
        color: #dd0031;
      }
  
      &--secondaryBlue {
        color: #004f71;
      }
    }
  
    h2 {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      margin: 0;
    }
  
    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      margin: 8px 0 16px 0;
    }

    &--center {
      text-align: center;
    }

    &--small-titles {
      h1 {
        font-size: 16px;
        line-height: 32px;
      }

      h2 {
        font-size: 14px;
        line-height: 145.1%;
      }
    }
  }
}

.mt {
  &-sm {
    margin-top: 8px !important;

    @media screen and (min-width: 550px) {
      margin-top: 8px !important;
    }
  }

  &-md {
    margin-top: 16px !important;

    @media screen and (min-width: 550px) {
      margin-top: 16px !important;
    }
  }

  &-lg {
    margin-top: 32px !important;

    @media screen and (min-width: 550px) {
      margin-top: 32px !important;
    }
  }
}

.mb {
  &-sm {
    margin-bottom: 8px;

    @media screen and (min-width: 550px) {
      margin-bottom: 8px;
    }
  }

  &-md {
    margin-bottom: 16px !important;

    @media screen and (min-width: 550px) {
      margin-bottom: 16px !important;
    }
  }

  &-lg {
    margin-bottom: 32px !important;

    @media screen and (min-width: 550px) {
      margin-bottom: 32px !important;
    }
  }
}
