.icon-list {
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 32px 15px 40px;

    @media screen and (min-width: 550px) {
        max-width: 800px;
      }
    
      &--tan {
        background-color: rgba(245, 227, 204, 0.4);
      }
    
      &--lightTan {
        background-color: rgba(245, 227, 204, 0.15);
      }
        
&__title {
color: #37424A;
font-family: "Apercu Pro", "Lato", sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 32px;
margin: 0;

&--red {
    color: #dd0031;
}

&--blue {
    color: #004f71;
}

&--teal {
    color: #3EB1C8;
    }
}
}




