// position: absolute;
// width: 164px;
// height: 51px;
// left: 136px;
// top: 1232px;

/* Body Copy / Body 2 / Bold */
.event {
    &__icon{
        display:inline-block;
        padding-right: 10px;
    }
    &__body{
        display:inline-block;
    }
    &__name{
        font-family: "Lato", sans-serif;    
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
        /* or 171% */
        /* Grayscale/Gray 7 | #37424A */
        color: #37424A;
    }    
    &__description {
        font-family: "Lato", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        /* or 133% */
        /* Secondary/Blue */
        color: #004F71;
    }
    &--preview {
        .event__image{
            img{
                height: 80px;
                width: 80px;
                padding-right: 10px;
            }
            display:inline;
        }
    }
}
    
    // &__body{
    //     display:inline-block;
    // }
    // &__name {
    //     font-family: "Lato", sans-serif;
    //     font-style: normal;
    //     font-weight: 700;
    //     font-size: 14px;
    //     line-height: 24px;
    //     /* or 171% */
    //     /* Grayscale/Gray 7 | #37424A */
    //     color: #37424A;
    // }
    // &__details{
    //     font-family: "Lato", sans-serif;
    //     font-style: normal;
    //     font-weight: 500;
    //     font-size: 12px;
    //     line-height: 16px;
    //     /* or 133% */
    //     /* Secondary/Blue */
    //     color: #004F71;
    // }


