.alert {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 9px 20px 9px 32px;
  background: #004f71;
  box-shadow: 0px 4px 20px rgba(91, 103, 112, 0.24);
  position: fixed;
  top: 72px;
  width: calc(100% - 52px);

  &--closed{
    display: none;
  }
  &-container {
    display: flex;
    flex-direction: row;
  }
  &-icon {
    margin: auto;
  }
  &-header {
    font-family: 'Apercu Pro', 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
    color: #ffffff;
    margin: 0 8px;
  }

  &-close {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: auto 0;

    &:hover {
      cursor: pointer;

      .system-icon--white path {
        fill: #d4d1d1;
    }
    }
  }
}
