.alert {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  position: absolute;
  width: 374px;
  height: 42px;
  left: 0px;
  top: 56px;
  background: #004f71;
  box-shadow: 0px 4px 20px rgba(91, 103, 112, 0.24);

  &-header {
    position: absolute;
    width: 255px;
    left: calc(50% - 255px / 2 - 3.5px);
    top: 2.06%;
    bottom: 97.19%;
    font-family: "Apercu Pro";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
    color: #ffffff;
  }

  &-icon {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
  }

  &-close {
    position: absolute;
    left: 8.33%;
    right: 8.33%;
    top: 8.33%;
    bottom: 8.33%;
  }
}
