.logo-icon {
    &--red {
        path, ellipse {
            fill: #dd0031;
        }
    }

    &--blue {
        path, ellipse {
            fill: #004F71;
        }
    }

    &--teal {
        path, ellipse {
            fill: #3EB1C8;
        }
    }
}
