.icon-sticker {
  position: absolute;
  border-radius: 50%;
  width: 96px;
  height: 96px;

  &--tan {
    background-color: rgba(245, 227, 204, 0.4);
  }

  &--lightTan {
    background-color: rgba(245, 227, 204, 0.15);
  }

  &--red {
    background-color: rgba(221, 0, 49, 1);
  }

  .brand-icon {
    margin-left: 5px;
    margin-top: 4px;
  }
}