.banner {
   padding: 0 16px;

   @media screen and (min-width: 550px) {
      max-width: 832px;
      margin: auto;
   }

   &__label {
      color: #004f71;
      font-family: "Apercu Pro", "Lato", sans-serif;
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: 40px;
      margin-bottom: 13px;
      padding: 0px;
   }

   &__description {
      color: #5b6770;
      font-family: 'Apercu Pro', 'Lato', sans-serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 32px;
      margin: 0px;
      padding: 0px;
   }
}
